@import "./tokens/all";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.okr__app--wrapper {
  margin: 0 auto;
  max-width: 50%;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: $space--sm;
  }
  header {
    margin-bottom: $space--sm;
    p {
      margin: $space--sm 0;
      @include get-typography("md", "medium");
    }
  }
  .okr__list--wrapper {
    border-left: 1px solid $black--disabled;
    position: relative;
    margin-left: calc(#{$space--lg} - 4px);
    li {
      min-height: 50px;
      display: flex;
      align-items: center;
      padding-left: $space--lg;
      margin-bottom: $space--sm;
      color: $black--medium;
      @include get-typography("sm", "medium");
    }
    li:before {
      content: '';
      position: absolute;
      width: 4px;
      left: 0;
      border: 1px solid $black--disabled;
    }
    li:nth-child(odd) {
      background-color: $color-blue-10;
    }
  }
}

.filter__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    @include get-typography("md", "medium");
    width: 100%;
    color: $black--medium;
  }
  .button {
    margin: $space--xs;
    margin-left: 0;
    transition: 0.3s ease-in all;
  }
  .active__filter {
    background: #1D66DD;
    color: $color--white;
    border: 1px solid #1D66DD;
		transition: 0.3s ease-in all;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(0.75 * 1rem);
  min-width: 80px;
  min-height: 30px;
  width: auto;
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  text-transform: capitalize;
  background-color: $color--white;
  border: 1px solid #c2c2c2;
  &:hover {
    border-color: #1D66DD;
  }
}

