@import "./tokens/all";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.okr__app--wrapper {
  margin: 0 auto;
  max-width: 50%;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: $space--sm;
  }
  header {
    p {
      margin: $space--sm 0;
      @include get-typography("md", "medium");
      color: $black--medium;
    }
  }
  .okr__list--wrapper {
    border-left: 1px solid $black--disabled;
    position: relative;
    margin-left: calc(#{$space--lg} - 4px);
    li {
      min-height: 50px;
      display: flex;
      align-items: center;
      padding-left: $space--lg;
      margin-bottom: $space--sm;
      color: $black--medium;
      @include get-typography("sm", "medium");
    }
    li:before {
      content: '';
      position: absolute;
      width: 4px;
      left: 0;
      border: 1px solid $black--disabled;
    }
    li:nth-child(odd) {
      background-color: $color-blue-10;
    }
  }
}

